[server]

#
# server host and port
#

host = test.mosquitto.org
port = 8883

# login data
username = rw
password = readwrite

# ssl
usessl = Yes

[display]

# show mqtt topic in the table?
showTopic = No

# table style
# see: https://pypi.org/project/tabulate/
# "plain" simple github grid fancy_grid pipe orgtbl jira... and more

tableStyle = simple

[topics]

#
# topics to subscribe, comma separated
#
topics = jl2u90nbvcj/mqtt-monitor/#, slxlfippowa/mqtt-monitor/#, x8gwiazd/mqtt-monitor/#


[replacements]

#
# change given phrases
#

sensor1 = home
sensor2 = garden
jl2u90nbvcj = berlin
slxlfippowa = moscow
x8gwiazd = warsaw

#
# dictionary of colors to highlight
#

[coloring]
'pi'= colors.fg.pink
'home'= '🏠' + colors.fg.orange
'garden'= '🌳' + colors.fg.pink
'ready'= unicodeChar.balls.green + colors.bg.green
'offline'= unicodeChar.balls.red + colors.bg.red
'failed'= unicodeChar.balls.red + colors.bg.red
'ok'= unicodeChar.balls.green + colors.bg.green
'scanning'= unicodeChar.balls.orange + colors.bg.orange
'status'= colors.bold
'wifi'= colors.fg.lightcyan
'wifi-probe'= colors.fg.cyan
'temp'= '🌡 ' + colors.fg.pink
'hum'= '💧' + colors.fg.orange
'p'= "☁ " + colors.fg.cyan
'out'= colors.fg.red
'in'= colors.fg.yellow
'rssi'= '📶 ' + colors.fg.lightgrey
